# Byte-compiled / cache
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual environments
.venv/
.env/

# OS files
.DS_Store
Thumbs.db

# Node
node_modules/

# Python packaging
build/
dist/
*.egg-info/

# IDE
.vscode/
.idea/

# Local secrets
*.env
.env.*

# Misc
*.log
*.sqlite3
*.docx
